
body{
    color: #000;
    margin-top: 0px;
    font-family:'Raleway',serif ;
    margin-left:auto;
    margin-right: auto;
    background-color: #b1d8cf;

}

a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
    opacity: 0.9;
}


p{
    font-size: 18px;
}

title{
    display:flex;
    flex-direction: column;
    font-family: 'Raleway',serif;
    font-size: 80px;
    text-align: center;
    align-items:center;
    padding-top: 90px;
    text-shadow: 3px 3px whitesmoke;
}


.motto{
    font-family: 'Raleway',serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: none;
    

}

.bigimages{
    padding: 12px;
    display: flex;
    flex-direction: column;
   
}


main{

    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 10px solid whitesmoke;
    margin: 15px 12px;
}

 .photoInfo{
     border: 5px solid whitesmoke;
     max-width: 100%;
    
 }

/*FOLLOWING IS SOCIAL INFO */
 .social{
     font-size: 22px;
     display: flex;
     flex-direction: column;
     padding:60px 0;
     text-align: center;
     align-items: center;   
 }

 a:hover{
    color:#1f4863;
    font-weight: bold;
}

ul, nav{
    list-style: none;
    padding:5px;
}



/* FOLLOWING IS HEADER MENU INFO */

header{
    font-family: 'Permanent Marker',sans-serif;
    background-color: rgba(139, 100, 189, 0.164);
}

/* header info should I put back in or do I like below??   position:absolute;
    font-size: 18px;
    top: 0;
    width: 100%;
    z-index: 10;
    align-content: left;
    align-items: left;
    padding: 25px 100px 20px;
    display: flex;
    text-align: left; */

button#hamburgerBtn {
    background: none;
    border: none;
    color: #1f4863;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}


nav ul {
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
}
    
nav a {
    display: block;
    padding: .2rem 0;
    text-align: center;
}

nav li.active{
    background-color: rgba(0,0,0,0.5)
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

nav ul.open {
    display: block;
}

nav ul{
    display:none;
}

@media only screen and (min-width: 768px){
   
    nav button {
        display:none;
    }
    nav ul {
        display:block;
    }
    nav li {
        width:11%;
        font-size: 17px;
    }
}

@media only screen and (min-width: 1024px){
    nav ul {
        margin-left: 2vw;
    }
    nav li {
        font-size: 22px;
    }
}


/* trying to do following for guides only; */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .guides {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }

.guides img{
    width: 100%;
    height: auto;
    align-items: center;
    
}

  /* Container for flexboxes */
  .rowGuide {
    display: flex;
    
  }
  
  /* Create three equal columns that sits next to each other */
  .columnGuide {
    flex: 1;
    padding: 10px;
    
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .rowGuide {
      flex-direction: column;
    }
  }